
input{
  width:90%;
  border-radius: 1vh;
  margin: 5px;
}

input:focus{
  border-left: 3px solid #fff;
  outline: none;
}

button{
  border-radius: 0.1vh;
}

button:hover{
  box-shadow: 6px 6px 0px 0px #000;
}

p {
  margin-top:10vh;
  padding-left:5px;
}

.site-page {
  display: grid;
  justify-content: center;
  align-items: center;
}

.div-todo{
  display: flex;
  justify-content: center;
  align-items:center;
}

.site-add-button{
  margin: 5px;
  border-radius: 2vh;
  padding: 1vh 5vh 1vh 5vh;
}

.site-add-button:hover{
  margin: 5px;
  background-color: #fff;
}

