input{
  border-radius: 0.1vh;
}

button{
  border-radius: 0.1vh;
}
button:hover{
  box-shadow: 6px 6px 0px 0px #000;
}

p {
  margin-top:10vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.site-page {
  display: grid;
  justify-content: center;
  align-items: center;
}

.div-todo{
  display: flex;
  justify-content: center;
  align-items:center;
}

.site-add-button{
  margin: 5px;
}

.site-add-button:hover{
  margin: 5px;
  background-color: #fff;
}

