
input{
  width:90%;
  border-radius: 1vh;
  margin: 5px;
}

input:focus{
  border-left: 3px solid #fff;
  padding-left : 3px;
  outline: none;
}

input:focus::placeholder{
  color: transparent;
}

button{
  border-radius: 0.1vh;
}

button:hover{
  box-shadow: 6px 6px 0px 0px #000;
}

p {
  margin-top:10vh;
  padding-left:5px;
}

.site-page {
  display: grid;
  justify-content: center;
  align-items: center;
}

.div-todo{
  display: flex;
  justify-content: center;
  align-items:center;
}

.site-add-button{
  margin: 5px;
  border-radius: 2vh;
  padding: 1vh 5vh 1vh 5vh;
}

.site-add-button:hover{
  margin: 5px;
  background-color: #fff;
}

.todo-container{
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.todo-wraper{
  display: flex;
  color:grey;
}

.todo-table{
  padding-top: 1vh;
  color: grey;
  width: 20%;
}

.thead-paused {
  background-color: rgb(0, 0, 0, 0.7);
  border: 1px solid grey;
  border-radius: 1vh;
}

.PAUSED{
  border: 1px solid grey;
  border-radius: 1vh;
}

.thead-paused tr:hover{
  cursor:pointer;
  background-color: black;
}


.thead-todos{
  background-color: rgb(0, 0, 0, 0.7);
  border: 1px solid grey;
  border-radius: 1vh;
}

.TODOS{
  border: 1px solid grey;
  border-radius: 1vh;
}

.thead-todos tr:hover{
  cursor:pointer;
  background-color: black;
}




.thead-done{
  background-color: rgb(0, 0, 0, 0.7);
  border: 1px solid grey;
  border-radius: 1vh;
}

.DONE{
  border-radius: 1vh;
  border: 1px solid grey;
}

.thead-done tr:hover{
  cursor:pointer;
  background-color: black;
}

